<a href="https://colab.research.google.com/github/kywch/ImageRatingStudy/blob/master/read_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Please copy paste the result string below.

In [3]:
#@title String fields
result_string = 'trial image11 image12 click rt;1 HPNt31 HPNt27 10 3398;2 HPUr35 HPUr44 01 2446;3 HPUr30 HPUr01 10 2478;4 HPNt16 HPNt09 10 2478;5 LPUr29 LPUr33 01 2446;6 HPNt03 HPNt39 10 2566;7 LPNt36 LPNt38 10 2414;8 HPUr25 HPUr41 10 2454;9 HPUr04 HPUr31 10 2686;10 LPUr18 LPUr40 10 2462;11 LPUr13 LPUr36 10 2646;12 LPUr08 LPUr23 01 2750;13 HPNt13 HPNt29 10 2590;14 LPNt23 LPNt37 10 2494;15 HPNt12 HPNt45 01 2382;16 HPNt05 HPNt34 01 2494;17 LPNt28 LPNt18 10 5494;18 LPNt34 LPNt29 01 30014;19 LPUr32 LPUr25 01 4039;20 LPUr21 LPUr37 01 2568;21 LPNt20 LPNt19 01 2550;22 LPNt41 LPNt24 01 2486;23 HPUr11 HPUr21 10 2486;24 LPUr34 LPUr26 01 2478;25 HPNt30 HPNt07 10 2462;26 LPNt26 LPNt06 10 2422;27 HPNt14 HPNt32 10 2406;28 HPUr34 HPUr16 10 2374;29 HPUr13 HPUr22 10 2478;30 LPNt22 LPNt30 01 2390;31 HPUr33 HPUr12 10 2391;32 HPUr05 HPUr20 10 2366;33 HPNt46 HPNt40 10 2382;34 LPNt42 LPNt33 01 2366;35 HPNt36 HPNt08 10 2446;36 HPUr39 HPUr03 10 2393;37 HPNt43 HPNt21 10 2395;38 HPNt23 HPNt25 10 2542;39 LPUr02 LPUr27 01 2408;40 HPNt24 HPNt11 01 2582;41 HPUr24 HPUr17 10 2446;42 LPUr15 LPUr19 10 2542;43 LPNt02 LPNt39 10 2510;44 LPUr10 LPUr43 10 2446;45 HPNt15 HPNt37 10 2430;46 HPUr42 HPUr15 10 2638;47 HPUr37 HPUr36 01 3926;48 LPUr45 LPUr16 10 3006;49 LPNt21 LPNt13 01 2446;50 LPNt03 LPNt25 10 2494;51 LPUr42 LPUr06 01 2382;52 LPUr24 LPUr17 10 2495;53 HPNt02 HPNt28 01 2605;54 LPUr05 LPUr31 01 2454;55 LPNt45 LPNt35 10 2422;56 HPUr46 HPUr29 01 2438;57 HPNt42 HPNt41 10 2502;58 HPUr14 HPUr18 10 2398;59 HPNt26 HPNt04 10 2406;60 LPUr03 LPUr35 10 2446;61 HPNt33 HPNt44 10 2446;62 LPNt44 LPNt16 01 2414;63 HPUr09 HPUr19 01 2630;64 LPNt27 LPNt46 01 2422;65 LPUr44 LPUr20 01 2414;66 HPNt35 HPNt01 01 2390;67 LPUr09 LPUr14 10 2414;68 LPUr30 LPUr04 01 2366;69 HPUr43 HPUr45 01 2478;70 LPNt15 LPNt10 01 2606;71 LPNt43 LPNt14 10 2422;72 LPNt01 LPNt05 10 2510;73 LPNt04 LPNt40 10 2398;74 HPUr02 HPUr28 10 2398;75 HPNt17 HPNt22 01 2422;76 LPNt09 LPNt08 10 2438;77 LPUr11 LPUr22 10 2438;78 LPNt11 LPNt07 10 2438;79 HPUr08 HPUr40 01 2510;80 LPUr46 LPUr01 01 2382;81 HPUr07 HPUr32 01 2438;82 LPUr38 LPUr12 10 2446;83 HPNt38 HPNt10 10 2454;84 HPUr23 HPUr27 01 2406;85 LPUr41 LPUr39 01 2462;86 LPUr07 LPUr28 01 2766;87 LPNt32 LPNt12 01 2478;88 HPUr06 HPUr26 01 2406;89 HPNt18 HPNt19 10 2374;90 HPUr38 HPUr10 01 2446;91 HPNt06 HPNt20 10 2470;92 LPNt17 LPNt31 10 2446;' #@param {type:"string"}
print(result_string)

trial image11 image12 click rt;1 HPNt31 HPNt27 10 3398;2 HPUr35 HPUr44 01 2446;3 HPUr30 HPUr01 10 2478;4 HPNt16 HPNt09 10 2478;5 LPUr29 LPUr33 01 2446;6 HPNt03 HPNt39 10 2566;7 LPNt36 LPNt38 10 2414;8 HPUr25 HPUr41 10 2454;9 HPUr04 HPUr31 10 2686;10 LPUr18 LPUr40 10 2462;11 LPUr13 LPUr36 10 2646;12 LPUr08 LPUr23 01 2750;13 HPNt13 HPNt29 10 2590;14 LPNt23 LPNt37 10 2494;15 HPNt12 HPNt45 01 2382;16 HPNt05 HPNt34 01 2494;17 LPNt28 LPNt18 10 5494;18 LPNt34 LPNt29 01 30014;19 LPUr32 LPUr25 01 4039;20 LPUr21 LPUr37 01 2568;21 LPNt20 LPNt19 01 2550;22 LPNt41 LPNt24 01 2486;23 HPUr11 HPUr21 10 2486;24 LPUr34 LPUr26 01 2478;25 HPNt30 HPNt07 10 2462;26 LPNt26 LPNt06 10 2422;27 HPNt14 HPNt32 10 2406;28 HPUr34 HPUr16 10 2374;29 HPUr13 HPUr22 10 2478;30 LPNt22 LPNt30 01 2390;31 HPUr33 HPUr12 10 2391;32 HPUr05 HPUr20 10 2366;33 HPNt46 HPNt40 10 2382;34 LPNt42 LPNt33 01 2366;35 HPNt36 HPNt08 10 2446;36 HPUr39 HPUr03 10 2393;37 HPNt43 HPNt21 10 2395;38 HPNt23 HPNt25 10 2542;39 LPUr02 LPUr27 01 2408;40 HPNt24 HPNt11 01 2582;41 HPUr24 HPUr17 10 2446;42 LPUr15 LPUr19 10 2542;43 LPNt02 LPNt39 10 2510;44 LPUr10 LPUr43 10 2446;45 HPNt15 HPNt37 10 2430;46 HPUr42 HPUr15 10 2638;47 HPUr37 HPUr36 01 3926;48 LPUr45 LPUr16 10 3006;49 LPNt21 LPNt13 01 2446;50 LPNt03 LPNt25 10 2494;51 LPUr42 LPUr06 01 2382;52 LPUr24 LPUr17 10 2495;53 HPNt02 HPNt28 01 2605;54 LPUr05 LPUr31 01 2454;55 LPNt45 LPNt35 10 2422;56 HPUr46 HPUr29 01 2438;57 HPNt42 HPNt41 10 2502;58 HPUr14 HPUr18 10 2398;59 HPNt26 HPNt04 10 2406;60 LPUr03 LPUr35 10 2446;61 HPNt33 HPNt44 10 2446;62 LPNt44 LPNt16 01 2414;63 HPUr09 HPUr19 01 2630;64 LPNt27 LPNt46 01 2422;65 LPUr44 LPUr20 01 2414;66 HPNt35 HPNt01 01 2390;67 LPUr09 LPUr14 10 2414;68 LPUr30 LPUr04 01 2366;69 HPUr43 HPUr45 01 2478;70 LPNt15 LPNt10 01 2606;71 LPNt43 LPNt14 10 2422;72 LPNt01 LPNt05 10 2510;73 LPNt04 LPNt40 10 2398;74 HPUr02 HPUr28 10 2398;75 HPNt17 HPNt22 01 2422;76 LPNt09 LPNt08 10 2438;77 LPUr11 LPUr22 10 2438;78 LPNt11 LPNt07 10 2438;79 HPUr08 HPUr40 01 2510;80 LPUr46 LPUr01 01 2382;81 HPUr07 HPUr32 01 2438;82 LPUr38 LPUr12 10 2446;83 HPNt38 HPNt10 10 2454;84 HPUr23 HPUr27 01 2406;85 LPUr41 LPUr39 01 2462;86 LPUr07 LPUr28 01 2766;87 LPNt32 LPNt12 01 2478;88 HPUr06 HPUr26 01 2406;89 HPNt18 HPNt19 10 2374;90 HPUr38 HPUr10 01 2446;91 HPNt06 HPNt20 10 2470;92 LPNt17 LPNt31 10 2446;

In [6]:
# delimiter - space (' '), newline - semicolon (';')

result_csv = result_string.replace(';', '\n').replace(' ', ',')
print(result_csv)

trial,image11,image12,click,rt
1,HPNt31,HPNt27,10,3398
2,HPUr35,HPUr44,01,2446
3,HPUr30,HPUr01,10,2478
4,HPNt16,HPNt09,10,2478
5,LPUr29,LPUr33,01,2446
6,HPNt03,HPNt39,10,2566
7,LPNt36,LPNt38,10,2414
8,HPUr25,HPUr41,10,2454
9,HPUr04,HPUr31,10,2686
10,LPUr18,LPUr40,10,2462
11,LPUr13,LPUr36,10,2646
12,LPUr08,LPUr23,01,2750
13,HPNt13,HPNt29,10,2590
14,LPNt23,LPNt37,10,2494
15,HPNt12,HPNt45,01,2382
16,HPNt05,HPNt34,01,2494
17,LPNt28,LPNt18,10,5494
18,LPNt34,LPNt29,01,30014
19,LPUr32,LPUr25,01,4039
20,LPUr21,LPUr37,01,2568
21,LPNt20,LPNt19,01,2550
22,LPNt41,LPNt24,01,2486
23,HPUr11,HPUr21,10,2486
24,LPUr34,LPUr26,01,2478
25,HPNt30,HPNt07,10,2462
26,LPNt26,LPNt06,10,2422
27,HPNt14,HPNt32,10,2406
28,HPUr34,HPUr16,10,2374
29,HPUr13,HPUr22,10,2478
30,LPNt22,LPNt30,01,2390
31,HPUr33,HPUr12,10,2391
32,HPUr05,HPUr20,10,2366
33,HPNt46,HPNt40,10,2382
34,LPNt42,LPNt33,01,2366
35,HPNt36,HPNt08,10,2446
36,HPUr39,HPUr03,10,2393
37,HPNt43,HPNt21,10,2395
38,HPNt23,HPNt25,10,2542
39,LPUr02,LPUr27,01,2408
40,HPNt24,HPNt11,01,2582
41,HPUr24,HPUr17,10,2446
42,LPUr15,LPUr19,10,2542
43,LPNt02,LPNt39,10,2510
44,LPUr10,LPUr43,10,2446
45,HPNt15,HPNt37,10,2430
46,HPUr42,HPUr15,10,2638
47,HPUr37,HPUr36,01,3926
48,LPUr45,LPUr16,10,3006
49,LPNt21,LPNt13,01,2446
50,LPNt03,LPNt25,10,2494
51,LPUr42,LPUr06,01,2382
52,LPUr24,LPUr17,10,2495
53,HPNt02,HPNt28,01,2605
54,LPUr05,LPUr31,01,2454
55,LPNt45,LPNt35,10,2422
56,HPUr46,HPUr29,01,2438
57,HPNt42,HPNt41,10,2502
58,HPUr14,HPUr18,10,2398
59,HPNt26,HPNt04,10,2406
60,LPUr03,LPUr35,10,2446
61,HPNt33,HPNt44,10,2446
62,LPNt44,LPNt16,01,2414
63,HPUr09,HPUr19,01,2630
64,LPNt27,LPNt46,01,2422
65,LPUr44,LPUr20,01,2414
66,HPNt35,HPNt01,01,2390
67,LPUr09,LPUr14,10,2414
68,LPUr30,LPUr04,01,2366
69,HPUr43,HPUr45,01,2478
70,LPNt15,LPNt10,01,2606
71,LPNt43,LPNt14,10,2422
72,LPNt01,LPNt05,10,2510
73,LPNt04,LPNt40,10,2398
74,HPUr02,HPUr28,10,2398
75,HPNt17,HPNt22,01,2422
76,LPNt09,LPNt08,10,2438
77,LPUr11,LPUr22,10,2438
78,LPNt11,LPNt07,10,2438
79,HPUr08,HPUr40,01,2510
80,LPUr46,LPUr01,01,2382
81,HPUr07,HPUr32,01,2438
82,LPUr38,LPUr12,10,2446
83,HPNt38,HPNt10,10,2454
84,HPUr23,HPUr27,01,2406
85,LPUr41,LPUr39,01,2462
86,LPUr07,LPUr28,01,2766
87,LPNt32,LPNt12,01,2478
88,HPUr06,HPUr26,01,2406
89,HPNt18,HPNt19,10,2374
90,HPUr38,HPUr10,01,2446
91,HPNt06,HPNt20,10,2470
92,LPNt17,LPNt31,10,2446

In [16]:
import pandas as pd
from io import StringIO

result_df = pd.read_csv(StringIO(result_csv))

In [17]:
result_df['click'] = result_df.click.astype(str).str.zfill(2)

In [18]:
result_df.head()

   trial image11 image12 click    rt
0      1  HPNt31  HPNt27    10  3398
1      2  HPUr35  HPUr44    01  2446
2      3  HPUr30  HPUr01    10  2478
3      4  HPNt16  HPNt09    10  2478
4      5  LPUr29  LPUr33    01  2446

In [42]:
[col for col in result_df.columns if "image" in col]

['image11', 'image12']

In [43]:
# make it tidy
# trial, row, col, image, click

tmp_df = pd.melt(result_df, id_vars=['trial','click'], 
                 value_vars=[col for col in result_df.columns if "image" in col], 
                 var_name='image_pos', value_name='image_name')
tmp_df['row'] = tmp_df['image_pos'].apply(lambda x: x[5]).astype(int)-1
tmp_df['col'] = tmp_df['image_pos'].apply(lambda x: x[6]).astype(int)-1
tmp_df['pos'] = tmp_df['row']*4 + tmp_df['col']

tmp_df['select'] = tmp_df.apply(lambda x: x['click'][x.pos], axis=1)

tmp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 184 entries, 0 to 183
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   trial       184 non-null    int64
 1   click       184 non-null    object
 2   image_pos   184 non-null    object
 3   image_name  184 non-null    object
 4   row         184 non-null    int64
 5   col         184 non-null    int64
 6   pos         184 non-null    int64
 7   select      184 non-null    object
dtypes: int64(4), object(4)
memory usage: 11.6+ KB

In [44]:
tmp_df

     trial click image_pos image_name  row  col  pos select
0        1    10   image11     HPNt31    0    0    0      1
1        2    01   image11     HPUr35    0    0    0      0
2        3    10   image11     HPUr30    0    0    0      1
3        4    10   image11     HPNt16    0    0    0      1
4        5    01   image11     LPUr29    0    0    0      0
..     ...   ...       ...        ...  ...  ...  ...    ...
179     88    01   image12     HPUr26    0    1    1      1
180     89    10   image12     HPNt19    0    1    1      0
181     90    01   image12     HPUr10    0    1    1      1
182     91    10   image12     HPNt20    0    1    1      0
183     92    10   image12     LPNt31    0    1    1      0

[184 rows x 8 columns]