<a href="https://colab.research.google.com/github/kywch/ImageRatingStudy/blob/master/read_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Please copy paste the result string below.

In [20]:
#@title String fields
result_string = '   trial image11 image12 image13 image14 image21 image22 image23 image24 image31 image32 image33 image34 click rt;1 LPNt45 LPNt23 LPNt03 LPNt44 LPNt06 LPNt01 LPNt09 LPNt20 LPNt33 LPNt10 LPNt31 LPNt36 111100000000 9348;2 HPUr05 HPUr37 HPUr06 HPUr22 HPUr35 HPUr11 HPUr15 HPUr42 HPUr03 HPUr09 HPUr20 HPUr17 111100000000 8486;3 LPUr21 LPUr01 LPUr23 LPUr07 LPUr27 LPUr44 LPUr40 LPUr24 LPUr13 LPUr99 LPUr26 LPUr39 000011110000 8690;4 HPNt38 HPNt99 HPNt35 HPNt29 HPNt42 HPNt04 HPNt37 HPNt06 HPNt40 HPNt13 HPNt22 HPNt07 000011110000 9291;5 LPNt42 LPNt11 LPNt21 LPNt05 LPNt39 LPNt04 LPNt18 LPNt13 LPNt19 LPNt02 LPNt17 LPNt99 000011110000 8667;6 HPUr46 HPUr28 HPUr45 HPUr26 HPUr36 HPUr07 HPUr12 HPUr25 HPUr10 HPUr01 HPUr23 HPUr16 000011110000 8851;7 LPNt28 LPNt30 LPNt34 LPNt37 LPNt14 LPNt35 LPNt99 LPNt32 LPNt15 LPNt26 LPNt07 LPNt12 000011000110 8805;8 LPNt25 LPNt08 LPNt43 LPNt38 LPNt27 LPNt46 LPNt40 LPNt29 LPNt24 LPNt41 LPNt16 LPNt22 000011110000 8916;9 HPNt33 HPNt19 HPNt28 HPNt27 HPNt21 HPNt17 HPNt11 HPNt34 HPNt18 HPNt45 HPNt24 HPNt16 000011110000 8988;10 HPUr39 HPUr99 HPUr43 HPUr44 HPUr32 HPUr02 HPUr29 HPUr13 HPUr30 HPUr24 HPUr08 HPUr34 000011110000 8484;11 HPNt44 HPNt26 HPNt03 HPNt02 HPNt31 HPNt30 HPNt20 HPNt15 HPNt39 HPNt10 HPNt46 HPNt12 000011110000 8531;12 LPUr10 LPUr08 LPUr42 LPUr22 LPUr19 LPUr37 LPUr02 LPUr14 LPUr43 LPUr30 LPUr17 LPUr11 000011110000 8787;13 HPUr04 HPUr38 HPUr31 HPUr41 HPUr18 HPUr40 HPUr19 HPUr14 HPUr21 HPUr27 HPUr99 HPUr33 000011110000 8478;14 LPUr15 LPUr41 LPUr34 LPUr05 LPUr25 LPUr36 LPUr12 LPUr18 LPUr45 LPUr04 LPUr35 LPUr28 000011110000 8420;15 HPNt01 HPNt99 HPNt25 HPNt08 HPNt41 HPNt23 HPNt43 HPNt14 HPNt32 HPNt05 HPNt09 HPNt36 000011110000 8724;16 LPUr32 LPUr16 LPUr03 LPUr29 LPUr31 LPUr20 LPUr33 LPUr99 LPUr09 LPUr46 LPUr38 LPUr06 000011100010 8444;' #@param {type:"string"}

In [21]:
# delimiter - space (' '), newline - semicolon (';')

result_csv = result_string.strip().replace(';', '\n').replace(' ', ',')
print(result_csv)

trial,image11,image12,image13,image14,image21,image22,image23,image24,image31,image32,image33,image34,click,rt
1,LPNt45,LPNt23,LPNt03,LPNt44,LPNt06,LPNt01,LPNt09,LPNt20,LPNt33,LPNt10,LPNt31,LPNt36,111100000000,9348
2,HPUr05,HPUr37,HPUr06,HPUr22,HPUr35,HPUr11,HPUr15,HPUr42,HPUr03,HPUr09,HPUr20,HPUr17,111100000000,8486
3,LPUr21,LPUr01,LPUr23,LPUr07,LPUr27,LPUr44,LPUr40,LPUr24,LPUr13,LPUr99,LPUr26,LPUr39,000011110000,8690
4,HPNt38,HPNt99,HPNt35,HPNt29,HPNt42,HPNt04,HPNt37,HPNt06,HPNt40,HPNt13,HPNt22,HPNt07,000011110000,9291
5,LPNt42,LPNt11,LPNt21,LPNt05,LPNt39,LPNt04,LPNt18,LPNt13,LPNt19,LPNt02,LPNt17,LPNt99,000011110000,8667
6,HPUr46,HPUr28,HPUr45,HPUr26,HPUr36,HPUr07,HPUr12,HPUr25,HPUr10,HPUr01,HPUr23,HPUr16,000011110000,8851
7,LPNt28,LPNt30,LPNt34,LPNt37,LPNt14,LPNt35,LPNt99,LPNt32,LPNt15,LPNt26,LPNt07,LPNt12,000011000110,8805
8,LPNt25,LPNt08,LPNt43,LPNt38,LPNt27,LPNt46,LPNt40,LPNt29,LPNt24,LPNt41,LPNt16,LPNt22,000011110000,8916
9,HPNt33,HPNt19,HPNt28,HPNt27,HPNt21,HPNt17,HPNt11,HPNt34,HPNt18,HPNt45,HPNt24,HPNt16,000011110000,8988
10,HPUr39,HPUr99,HPUr43,HPUr44,HPUr32,HPUr02,HPUr29,HPUr13,HPUr30,HPUr24,HPUr08,HPUr34,000011110000,8484
11,HPNt44,HPNt26,HPNt03,HPNt02,HPNt31,HPNt30,HPNt20,HPNt15,HPNt39,HPNt10,HPNt46,HPNt12,000011110000,8531
12,LPUr10,LPUr08,LPUr42,LPUr22,LPUr19,LPUr37,LPUr02,LPUr14,LPUr43,LPUr30,LPUr17,LPUr11,000011110000,8787
13,HPUr04,HPUr38,HPUr31,HPUr41,HPUr18,HPUr40,HPUr19,HPUr14,HPUr21,HPUr27,HPUr99,HPUr33,000011110000,8478
14,LPUr15,LPUr41,LPUr34,LPUr05,LPUr25,LPUr36,LPUr12,LPUr18,LPUr45,LPUr04,LPUr35,LPUr28,000011110000,8420
15,HPNt01,HPNt99,HPNt25,HPNt08,HPNt41,HPNt23,HPNt43,HPNt14,HPNt32,HPNt05,HPNt09,HPNt36,000011110000,8724
16,LPUr32,LPUr16,LPUr03,LPUr29,LPUr31,LPUr20,LPUr33,LPUr99,LPUr09,LPUr46,LPUr38,LPUr06,000011100010,8444

In [22]:
import pandas as pd
from io import StringIO

result_df = pd.read_csv(StringIO(result_csv))

In [23]:
image_cols = [col for col in result_df.columns if "image" in col]
image_cols

['image11',
 'image12',
 'image13',
 'image14',
 'image21',
 'image22',
 'image23',
 'image24',
 'image31',
 'image32',
 'image33',
 'image34']

In [24]:
result_df['click'] = result_df.click.astype(str).str.zfill(len(image_cols))

In [25]:
result_df.head()

   trial image11 image12 image13  ... image33 image34         click    rt
0      1  LPNt45  LPNt23  LPNt03  ...  LPNt31  LPNt36  111100000000  9348
1      2  HPUr05  HPUr37  HPUr06  ...  HPUr20  HPUr17  111100000000  8486
2      3  LPUr21  LPUr01  LPUr23  ...  LPUr26  LPUr39  000011110000  8690
3      4  HPNt38  HPNt99  HPNt35  ...  HPNt22  HPNt07  000011110000  9291
4      5  LPNt42  LPNt11  LPNt21  ...  LPNt17  LPNt99  000011110000  8667

[5 rows x 15 columns]

In [ ]:
# make it tidy
# trial, row, col, image, click

tmp_df = pd.melt(result_df, id_vars=['trial','click'], value_vars=image_cols, 
                 var_name='image_pos', value_name='image_name')
tmp_df['row'] = tmp_df['image_pos'].apply(lambda x: x[5]).astype(int)-1
tmp_df['col'] = tmp_df['image_pos'].apply(lambda x: x[6]).astype(int)-1
tmp_df['pos'] = tmp_df['row']*4 + tmp_df['col']

# whether the image was clicked or not
tmp_df['select'] = tmp_df.apply(lambda x: (x['click'][x.pos] == '1'), axis=1)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 192 entries, 0 to 191
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   trial       192 non-null    int64
 1   click       192 non-null    object
 2   image_pos   192 non-null    object
 3   image_name  192 non-null    object
 4   row         192 non-null    int64
 5   col         192 non-null    int64
 6   pos         192 non-null    int64
 7   select      192 non-null    bool
dtypes: bool(1), int64(4), object(3)
memory usage: 10.8+ KB

In [ ]:
select_col = ['trial', 'row', 'col', 'image_name', 'select']
tidy_df = tmp_df[select_col].sort_values(by=select_col[:2], ignore_index=True)
tidy_df.head()

   trial  row  col image_name  select
0      1    0    0     LPNt45    True
1      1    0    1     LPNt23    True
2      1    0    2     LPNt03    True
3      1    0    3     LPNt44    True
4      1    1    0     LPNt06   False